

/* Content */
.content {
	padding: 3em 0;
}



.section--nav {
	position: relative;
	overflow: hidden;
	
}

.section__title {
	font-size: 0.65em;
	font-weight: 700;
	-webkit-flex: none;
	flex: none;
	margin: 3em 0 15em;
	text-indent: 3px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #d1d1d1;
}

.section.section--intro {
	font-size: 1.6em;
	position: relative;
	min-height: 100vh;
	text-align: center;
	color: #fff;
	background: #333;
}

.section--intro p {
	max-width: 1000px;
	margin: 0 auto;
	padding: 1em;
}



/* Kafa */
.section#Totit {
	/*background: #3992fd;*/
	color: #3D4D5B;
	margin-top: 0%;
}





